<?xml version='1.0' encoding='utf-8'?>
<widget id="com.telecable.tdn" version="2.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TDN</name>
    <description>
        Aplicación de INFOTDN.
    </description>
    <author email="iyemartinez1987@gmail.com" href="">
        Ing. Isidro Martínez Suárez
    </author>

    <preference name="AllowInlineMediaPlayback" value="true"/>

    <!--Plugins de IOS-->
    <plugin name="cordova-plugin-statusbar" source="npm"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="SplashScreenDelay" value="10000"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="android-build-tool" value="gradle" /> 
    <!-- Requires cli-6.4.0 but we recommend using the latest version. -->
    <preference name="phonegap-version" value="cli-7.0.1" />

    <preference name="android-build-tool" value="gradle" />
    <preference name="android-minSdkVersion" value="15" />

    <!-- Can omit if not targetting Windows Phone -->
    <preference name="windows-appx-target" value="8.1-phone" />
    <preference name="WindowsToastCapable" value="true" />

    <!--Plugins de Android-->
    <plugin name="cordova-plugin-whitelist"  source="npm"/>    
    <plugin name="cordova-plugin-geolocation" source="npm"/>
    <plugin name="cordova.plugins.diagnostic" source="npm" />
    <plugin name="cordova-plugin-vibration"  source="npm"/>
    <plugin name="cordova-plugin-globalization"  source="npm"/>
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="cordova-plugin-streaming-media" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="onesignal-cordova-plugin" spec="^2.1.1" source="npm" />
    <plugin name="cordova-plugin-insomnia"/>
    <plugin name="cordova-plugin-admobpro" source="npm"/>



    <icon src="icon.png" />
    
    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="img/screen/android/android3.png" density="land-hdpi"/>
        <splash src="img/screen/android/android1.png" density="land-ldpi"/>
        <splash src="img/screen/android/android2.png" density="land-mdpi"/>
        <splash src="img/screen/android/android4.png" density="land-xhdpi"/>

        <splash src="img/screen/android/android3.png" density="port-hdpi"/>
        <splash src="img/screen/android/android1.png" density="port-ldpi"/>
        <splash src="img/screen/android/android2.png" density="port-mdpi"/>
        <splash src="img/screen/android/android4.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <!-- There are two mechanisms for showing launch images.
        -- Legacy method (supports all devices except iPad Pro 12.9):
        -- Note: Images are determined by width and height. The following are supported -->
        <splash src="img/screen/ios/ios1.png" width="320" height="480"/>
        <splash src="img/screen/ios/ios2.png" width="640" height="960"/>
        <splash src="img/screen/ios/ios7.png" width="768" height="1024"/>
        <splash src="img/screen/ios/ios9.png" width="1536" height="2048"/>
        <splash src="img/screen/ios/ios8.png" width="1024" height="768"/>
        <splash src="img/screen/ios/ios10.png" width="2048" height="1536"/>
        <splash src="img/screen/ios/ios3.png" width="640" height="1136"/>
        <splash src="img/screen/ios/ios4.png" width="750" height="1334"/>
        <splash src="img/screen/ios/ios5.png" width="1242" height="2208"/>
        <splash src="img/screen/ios/ios6.png" width="2208" height="1242"/>
        <!-- Storyboard method (supports all devices):
        -- Important: If you use the storyboard method, legacy images are 
        -- copied but ignored.
        -- Note: images are determined by scale, idiom, and size traits. The following
        -- are suggested based on current device form factors -->
        <splash src="img/screen/ios/Default-667h@2x~iphone.png" />
        <splash src="img/screen/ios/Default-667h@2x~iphone.png" />
        <splash src="img/screen/ios/Default-667h@2x~iphone.png" />
        <splash src="img/screen/ios/Default-667h@2x~iphone.png" />
        <splash src="img/screen/ios/Default-667h@2x~iphone.png" />
        <splash src="img/screen/ios/Default-667h@2x~iphone.png" />

    </platform>
    
    <gap:splash gap:platform="winphone" src="screen.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>



