<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tdn.canal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TDN</name>
    <description>
        Aplicaciona informativa del Canal INFOTDN.
    </description>
    <author email="iyemartinez1987@gmail.com" href="https://plus.google.com/u/0/+AsielHern%C3%A1ndezValdes">
        Ing. Isidro Martínez Suárez
    </author>

    <preference name="AllowInlineMediaPlayback" value="true"/>

    <!--Plugins de IOS-->
    <plugin name="cordova-plugin-statusbar" source="npm"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="SplashScreenDelay" value="10000"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <!-- Requires cli-6.4.0 but we recommend using the latest version. -->
    <preference name="phonegap-version" value="cli-7.0.1" />

    <preference name="android-build-tool" value="gradle" />
    <preference name="android-minSdkVersion" value="15" />

    <!-- Can omit if not targetting Windows Phone -->
    <preference name="windows-appx-target" value="8.1-phone" />
    <preference name="WindowsToastCapable" value="true" />

    <!--Plugins de Android-->
    <plugin name="cordova-plugin-whitelist"  source="npm"/>    
    <plugin name="cordova-plugin-geolocation" source="npm"/>
    <plugin name="cordova.plugins.diagnostic" source="npm" />
    <plugin name="cordova-plugin-vibration"  source="npm"/>
    <plugin name="cordova-plugin-globalization"  source="npm"/>
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="cordova-plugin-streaming-media" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="onesignal-cordova-plugin" spec="^2.1.1" source="npm" />
    <plugin name="cordova-plugin-insomnia"/>


    <icon src="icon.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="img/screen/android/android1.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="img/screen/android/android2.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="img/screen/android/android3.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="img/screen/android/android4.png" />
    <gap:splash gap:platform="ios" height="480" src="img/screen/ios/ios1.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="img/screen/ios/ios2.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="img/screen/ios/ios3.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="img/screen/ios/ios7.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="img/screen/ios/ios8.png" width="1024" />
    <gap:splash gap:platform="winphone" src="screen.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>




