<ion-view view-title="Locales">
        <ion-content>
                <div class="list card" ng-repeat="data_noticia in data_noticias" ng-click="noticiaClic(data_noticia.id)">                     
                    <div class="item item-body">
                      <h2><b>{{data_noticia.titulo}}</b></h2>
                      <p>November 05, 1955</p>
                    </div>                       
                    <div class="item item-body">
                      <img class="full-image" src="{{data_noticia.img}}">
                      <p align="justify" ng-bind-html="data_noticia.fragmento">                            
                      </p>
                    </div>
                  </div>    
                </div>
        </ion-content>
      </ion-view>
      